[Desktop Entry]
Type=Application
Name=instantOS Live Setup
Exec=/usr/local/bin/liveautostart
X-GNOME-Autostart-enabled=true
NoDisplay=true
Terminal=false
