[Unit]
Description=instantOS post installation steps

[Service]
Type=oneshot
ExecStart=/usr/bin/instantpostinstall
KillMode=process
TimeoutStopSec=1000000

[Install]
WantedBy=multi-user.target


