[Unit]
Description=instantOS post installation steps

[Service]
Type=simple
ExecStart=/usr/bin/instantpostinstall

[Install]
WantedBy=multi-user.target


