[Desktop Entry]
Version=1.0
Name=st
Comment=st with a few patches and sensitive defaults
Exec=st
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
