[Desktop Entry]
Version=1.0
Name=st
Comment=Luke-Smith st with instantOS bindings and colors
Exec=st
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=System;TerminalEmulator;